/* Tổng thể */
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
header {
    background: linear-gradient(135deg, #ff7f50, #ff6347);
    color: white;
}
/* Header */
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}
.header-links a {
    color: #fff;
    transition: color 0.3s;
}
.header-links a:hover {
    color: #ffc107;
}
/* Danh sách sản phẩm */
.product-card {
    border: none;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}
.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.product-card img {
    transition: transform 0.3s;
}
.product-card:hover img {
    transform: scale(1.1);
}
.product-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #343a40;
}
.product-price {
    color: #ff6347;
    font-size: 1.1rem;
    font-weight: bold;
}
/* Footer */
footer {
    background: #343a40;
    color: white;
    margin-top: auto; /* Đẩy footer xuống dưới cùng */
}
footer a {
    color: #ffc107;
}
footer a:hover {
    text-decoration: underline;
}
.search-input {
    height: 30px; /* Điều chỉnh chiều cao theo ý muốn */
    padding: 0.375rem 0.75rem; /* Điều chỉnh khoảng cách padding */
}
.search-button {
    height: 35px;
    padding: 0 0.5rem;
    font-size: 0.9rem;
    white-space: nowrap;
    min-width: 80px;
}

/* login */

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.login-title {
    color: #f15a29;
}
.login-button {
    background-color: #f15a29;
    border: none;
}
.login-button:hover {
    background-color: #e55337;
}
.social-login a {
    margin-right: 10px;
}

/* sign in */

.register-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.register-title {
    color: #f15a29;
}
.register-button {
    background-color: #f15a29;
    border: none;
}
.register-button:hover {
    background-color: #f15a29;
}
.social-login a {
    margin-right: 10px;
}


a {
    text-decoration: none; /* Bỏ gạch chân cho tất cả các thẻ a */
}



 


